@use 'mixins/breakpoints' as *;
@use 'mixins/flexbox' as *;
@use 'mixins/grid' as *;
@use 'mixins/sizes_positions' as *;

:host{
    @include responsivo('celular'){
        @include grid($column: auto 1fr, $area: "cabecalho main"
                                                "cabecalho rodape"
                     );
        overflow-x: hidden;
    }
}

#cabecalho{
    background-color: var(--background-header);
    min-height: 2.15rem;

    @include responsivo('computador'){
        @include sizes_positions($width: 100vw, $top: 0);
        @include grid(45% 55%, none, "navbar themeButton");
        backdrop-filter: blur(2px);
    }

    @include responsivo('tablet'){
        @include sizes_positions($width: 100vw);
        @include grid(70% 30%, none, "navbar themeButton");
        backdrop-filter: blur(2px);
    }

    @include responsivo('celular'){
        position: fixed;
        @include sizes_positions($height: 100%, $top: 0, $left:0);
        backdrop-filter: blur(40px);
        transform: translateX(-100%);
        transition: transform 0.2s ease-in-out;
        z-index: 10;
    }
}

.expanded{
    @include responsivo('celular'){
        #navbar__menu--collapsed{
            display: none;
        }
    
        #cabecalho{
            transform: translateX(0);
            height: 100%;
        }
    }
}

#navbar{
    @include responsivo('computador'){
        @include flexbox(space-between, center, row);
        padding: 0.5rem 0 0.5rem 0;
        margin-left: 1.5rem;

        a{
            font-family: var(--text-font);
            text-decoration: none;
        }
    }

    @include responsivo('tablet'){
        @include flexbox(space-between, center, row);
        padding: 0.75rem 0 0.75rem 0;

        a{
            font-family: var(--text-font);
            text-decoration: none;
            font-size: 1.25rem;
        }
    }

    @include responsivo('celular'){
        @include flexbox(flex-start, stretch, column);
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        gap: 2rem;

        a{
            font-family: var(--text-font);
            text-decoration: none;
            font-size: 0.9rem;
            text-align: center;
        }
    }

    a{
        cursor: pointer;
        
        &:hover{
            color: var(--background-footer);
        }
    }
}

.active{
    color: var(--background-main);
}

.desactive{
    color: var(--white-text);
}

#navbar__menu--collapsed {
    display: none;

    @include responsivo('celular'){
        grid-area: main;
        background-image: url("/assets/icons/menu.svg");
        background-size: cover;
        background-repeat: no-repeat;
        @include flexbox($align: flex-start, $justify: flex-start);
        @include sizes_positions($width: 1.75rem, $height: 1.75rem);
        margin: 0.5rem 0 0 0.75rem;
        z-index: 99;
    }
}

#navbar__menu{
    display: none;

    @include responsivo('celular'){
        background-image: url("/assets/icons/menu.svg");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-self: self-end;
        margin: 0;
        width: 1.5rem;
        height: 1.5rem;
    }
}

.menu__container{
    display: none;

    @include responsivo('celular'){
        display: flex;
        flex-direction: row;
        justify-content: flex-end;


        span{
            display: flex;
            justify-self: flex-end;
            align-items: center;
            font-size: 0.5rem;
            font-family: var(--text-font-secundary);
            color: var(--white-text);
        }
    }
}

#initial__page{
    margin-left: 5%;
}

#button__container{
    @include flexbox(right, center, none);

    @include responsivo('celular'){
        @include flexbox(center, center, none);
    }
}

#themeButton{
    @include sizes_positions(max-content, max-content);
    padding: 0.25rem;
    border: 0;
    background-color: transparent;
    position: absolute;

    @include responsivo('computador'){
        margin: 0 13rem 0 0;
    }

    @include responsivo('tablet'){
        margin: 0 7.5rem 0 0;
    }

    @include responsivo('celular'){
        margin: 4rem 2.5rem 0 0;
    }

    &:hover{
        cursor: pointer;

        &::after{
            content: 'Alterar tema da página';
            position: absolute;
            background-color: var(--color-card);
            color: var(--gray-text);
            font-family: var(--text-font-secundary);
            z-index: 10;
            @include sizes_positions($width:max-content, $top: 90%, $left: -150%, $right: 0);
            border-radius: 1rem;
            padding: 0.35rem;
            font-size: 0.85rem;

            @include responsivo('celular'){
                @include sizes_positions($width:max-content, $top: 90%, $left: -50%, $right: 0);
                padding: 0.35rem;
                font-size: 0.5rem;
            }
        }
    }
}

#logoutButton{
    @include sizes_positions(max-content, max-content);
    padding: 0.25rem;
    border: 0;
    background-color: transparent;
    position: absolute;

    @include responsivo('computador'){
        margin: 0 7.5rem 0 0;
    }

    @include responsivo('tablet'){
        margin: 0 4rem 0 0;
    }

    @include responsivo('celular'){
        margin: 4rem 0 0 2.5rem;
    }

    &:hover{
        cursor: pointer;

        &::after{
            content: 'Encerrar Sessão';
            position: absolute;
            background-color: var(--color-card);
            color: var(--gray-text);
            font-family: var(--text-font-secundary);
            z-index: 10;
            @include sizes_positions($width:max-content, $top: 90%, $left: -150%, $right: 0);
            border-radius: 1rem;
            padding: 0.35rem;
            font-size: 0.85rem;

            @include responsivo('celular'){
                @include sizes_positions($width:max-content, $top: 90%, $left: -50%, $right: 0);
                padding: 0.35rem;
                font-size: 0.5rem;
            }
        }
    }
}


img {
    @include responsivo('computador'){
        @include sizes_positions(1.8rem, 1.8rem);
    }

    @include responsivo('tablet'){
        @include sizes_positions(2rem, 2rem);
    }

    @include responsivo('celular'){
        @include sizes_positions(1.5rem, 1.5rem);
    }
}
