@use 'mixins/breakpoints' as *;
@use 'mixins/sizes_positions' as *;
@use 'mixins/flexbox' as *;

:host {
  display: block; 
  width: 100vw;
  min-height: 94vh;
}

.user__list {
    @include flexbox(center, center, column);
    overflow-x: hidden;

    @include responsivo('computador'){
        @include sizes_positions($width: 100%, $height: 99vh);
    }

    @include responsivo('tablet'){
        @include sizes_positions($width: 100vw, $height: 100%);
    }

    @include responsivo('celular'){
        @include sizes_positions($width: 100vw, $height: 100%);
    }
}