<section id="about-me">
    <div class="card">
        <div class="container">
            <img src="./assets/img/logo.jpg" alt="Foto de perfil" id="img-profile">
            <div class="card__infos">
                <h2 class="card__info--name">{{ dadosAboutMe.nome }}</h2>
                <h2 class="card__info--age">{{ dadosAboutMe.idade }} anos</h2>
                <h2 class="card__info--carreer">{{ dadosAboutMe.carreira }}</h2>
                <h2 class="card__info--occupation">{{ dadosAboutMe.profissao }}</h2>
                <h2 class="card__info--enterprise">{{ dadosAboutMe.empresa }}</h2>
            </div>
        </div>
        <div class="card__description">
            <p class="card__biography"> <strong>Biografia:</strong> <br>
                {{ dadosAboutMe.descricao.biografia }}
            </p>
            <p class="card__hobbies"> <strong>Hobbies:</strong> <br>
                {{ dadosAboutMe.descricao.hobbies }}
            </p>
            <p class="card__dislike"> <strong>Desgostos:</strong> <br>
                {{ dadosAboutMe.descricao.desgostos }}
            </p>
            <p class="card__goals"> <strong>Objetivos de Vida:</strong> <br>
                {{ dadosAboutMe.descricao.objetivos }}
            </p>
        </div>
    </div>
</section>