@use 'mixins/flexbox' as *;
@use 'mixins/grid' as *;
@use 'mixins/sizes_positions' as *;
@use 'mixins/breakpoints' as *;

@keyframes brilho {
    0% {transform: translateX(-60%) rotate(45deg);}
    100% {transform: translateX(60%) rotate(45deg);}
}

#cards{
    @include flexbox(space-between, center, row);
    margin: 3rem 1rem 1rem 1rem;

    @include responsivo('computador'){
        margin: 7rem 10rem 2rem 10rem;
    }
}

.cards__container{
    background-color: var(--background-main);

    @include responsivo('computador'){
        @include grid($column: repeat(3, 1fr))
    }

    @include responsivo('tablet'){
        @include flexbox(center, center, column);
    }

    @include responsivo('celular'){
        @include flexbox(center, center, column);
    }

    a{
        @include flexbox(center, center, column);

        text-decoration: none;
        box-sizing: border-box;
    }
}


.card__item{
    position: relative;
    background-color: var(--color-card);
    border-radius: 1rem;
    text-align: justify;
    color: var(--gray-text);
    font-family: var(--text-font-secundary);
    font-weight: 800;
    overflow: hidden;
    box-shadow: 0.6rem 0.5rem 1rem 0.5rem var(--card-box-shadow);
    padding: 1.25rem;
    margin: 0 2rem 1.75rem 2.5rem;
    min-width: 90%;
    min-height: 10rem;

    @include responsivo('computador'){
        padding: 2rem;
        margin: 0 2rem 0 2.5rem;
    }


    img{
        width: 4rem;
        height: 4rem;
        margin: 0 0 1rem 0;

        @include responsivo('computador'){
            margin: 0 0 1.25rem 0;
        }
    }

    &:hover{
        transform: scale(1.1);
        cursor: pointer;
    }

    &::after{
        content: '';
        position: absolute;
        @include sizes_positions($width: 200%, $height: 200%, $top: 0);
        background: var(--brilho-card);
        animation: brilho 3s ease-in-out infinite;
    }

    &::before{
        content: '';
        position: absolute;
        @include sizes_positions(auto, 0.05rem, 0.5%, 0, 0, 0);
        background: var(--linha-card);

        @include responsivo('celular'){
            @include sizes_positions(auto, 0.05rem, 0.75%, 0, 0, 0);
        }
    }
}

