<section id="about-me" [class.modo-edicao]="modoEdicao()">
    @for (person of dadosAboutMe(); track person.id) {
        <div class="card">
            <div class="container">
                <img src="./assets/img/logo.jpg" alt="Foto de perfil" id="img-profile">
                <div class="card__infos">
                    <h2 class="card__info--name">{{ person.dados.nome }}</h2>
                    <h2 class="card__info--age">{{ person.dados.idade }} anos</h2>
                    <h2 class="card__info--carreer">{{ person.dados.carreira }}</h2>
                    <h2 class="card__info--occupation">{{ person.dados.profissao }}</h2>
                    <h2 class="card__info--enterprise">{{ person.dados.empresa }}</h2>
                </div>
            </div>
    
            @if (modoEdicao()) {
                <button id="btn__edit" (click)="abrirModalDadosPessoais(person.id, person.dados)">
                    <img src="assets/icons/edit-icon.svg">
                    <span>Editar Dados Pessoais</span>
                </button>
            }
    
            <div class="card__description">
                <p class="card__biography" 
                (click)="abrirModal(person.id, person.dados.descricao.biografia, 'biografia')"> 
                <strong>Biografia:</strong> <br>
                    {{ person.dados.descricao.biografia }}
                </p>
                <p class="card__hobbies" 
                (click)="abrirModal(person.id, person.dados.descricao.hobbies, 'hobbies')"> 
                <strong>Hobbies:</strong> <br>
                    {{ person.dados.descricao.hobbies }}
                </p>
                <p class="card__dislike" 
                (click)="abrirModal(person.id, person.dados.descricao.desgostos, 'desgostos')"> 
                <strong>Desgostos:</strong> <br>
                    {{ person.dados.descricao.desgostos }}
                </p>
                <p class="card__goals" 
                (click)="abrirModal(person.id, person.dados.descricao.objetivos, 'objetivos')"> 
                <strong>Objetivos de Vida:</strong> <br>
                    {{ person.dados.descricao.objetivos }}
                </p>
            </div>
        </div>
    }
</section>

@if (modoEdicao()) {
    <app-edit-modal [dadoRecebido]="cardSelecionado()", [grupoCard]="'dados'"/>
    <app-data-modal [dadoRecebido]="pessoaSelecionada()"/>
}