@use 'mixins/flexbox' as *;
@use 'mixins/sizes_positions' as *;
@use 'mixins/grid' as *;
@use 'mixins/breakpoints' as *;

.userEdit__modal[open]{
    @include flexbox(center, center, column);
    position: relative;
    align-self: center;
    justify-self: center;
    border: none;
    border-radius: 2rem;
    padding: 5rem;
    gap: 2rem;
    background-color: var(--container-background);

    @include responsivo('celular'){
        padding: 2rem;
    }

    .close__container{
        position: absolute;
        border: none;
        @include sizes_positions($top: 1rem, $right: 1rem);
    }

    &::backdrop{
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(0.2rem);
    }

    #close__button{
        border: none;
        border-radius: 1rem;
        text-align: center;
        font-family: var(--text-font-secundary);
        font-size: 1rem;
        color: var(--white-text);
        background: transparent;

        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    form {
        @include flexbox($direction: column);

        @include responsivo('tablet'){
            @include flexbox($direction: column);
        }

        input{
            padding: 0.75rem 1rem 0.75rem 1rem;
            box-sizing: border-box;
            width: 100%;
            border: none;
            border-radius: 0.5rem;
            text-overflow: ellipsis;
        }

        select{
            padding: 0.5rem 5rem 0.5rem 0.75rem;
            border: none;
            border-radius: 0.5rem;

            option {
                font-size: 1rem;
                font-family: var(--text-font-secundary);
            }

            &:hover{
                cursor: pointer;
                transform: scale(1.05);
            }
        }

        label{
            font-size: 1.75rem;
            margin: 0.5rem 0 0.5rem 0;
            justify-self: center;
            font-family: var(--text-font);
            color: var(--gray-text);

            @include responsivo('celular'){
                font-size: 1.25rem;
            }
        }

        #label__select{
            margin-top: 2rem;
        }
    }

    .btn__container{
        @include flexbox(space-between, center, column);

        button{
            padding: 0.75rem 1.75rem 0.75rem 1.75rem;
            margin-top: 0.5rem;
            border: none;
            border-radius: 1rem;
            text-align: center;
            font-family: var(--text-font-secundary);
            font-size: 1rem;
            color: var(--white-text);

            &:hover{
                cursor: pointer;
                transform: scale(1.1);
            }
        }

        .btn__submit{
            background-color: #150a30;
            margin-top: 3rem;
        }
    
        .btn__reset{
            background-color: #8a1414;
        }

    }

    .btn__delete{
        @include grid($column: repeat(2, 1fr), $area: 'img span');
        justify-self: center;
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        margin-top: 0.5rem;
        border: none;
        border-radius: 1rem;
        text-align: center;
        font-family: var(--text-font-secundary);
        font-size: 1rem;
        color: var(--white-text);
        background-color: #150a30;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }

        span{
            grid-area: span;
            text-align: center;
            justify-self: center;
        }

        img{
            grid-area: img;
        }
    }



}