<dialog #modalLogin class="login__modal">
    <div class="close__container">
        <button id="close__button" (click)="fecharModal()">
            <img src="/assets/icons/close-icon.svg" alt="Ícone do botão de fechar">
        </button>
    </div>
    
    @if(!mostraFeedback){
        <app-login-form [cadastro]="cadastro()" (formEmitter)="aguardarFeedback($event)"/>
    }

    @if (mostraFeedback) {
        <app-visual-feedback-modal [estado]="statusModal()" [mensagem]="mensagemFeedback() || '' "/>
    }
    
</dialog>
