@mixin sizes_positions($width: auto, $height: auto, 
                    $top: auto, $left: auto, $bottom: auto, $right: auto){
    width: $width;
    height: $height;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
}