@mixin sizes_positions($width: null, $height: null, 
                    $top: null, $left: null, $bottom: null, $right: null){
    width: $width;
    height: $height;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
}